---
import Container from "./Container.astro";
import Heading from "./Heading.astro";

interface Props {
  id?: string;
  eyebrow?: string;
  title: string;
  description?: string;
  centered?: boolean;
  size?: "sm" | "md" | "lg" | "xl" | "full";
  class?: string;
}

const {
  id,
  eyebrow,
  title,
  description,
  centered = false,
  size = "lg",
  class: className = "",
} = Astro.props;
---

<section
  id={id}
  class:list={[
    "py-12 md:py-16",
    className,
  ]}
>
  <Container size={size}>

    <Heading
      eyebrow={eyebrow}
      title={title}
      description={description}
      centered={centered}
      class="mb-16"
    />

    <slot />

  </Container>
</section>